@use "sass:color";

// Colors
$main-bg: #f5f6f0;
$dark-bg: #dfe2cf;
$main-border: #aab380;

$green-bg: #e3f5e6;
$green-dark-bg: #b4f1bf;
$green-border: #72da85;

$red-bg: #f5e4e3;
$red-dark-bg: #e4b6b4;
$red-border: #d0807c;

//Grays
$white: #fff;
$gray-light: #e7e7e7;
$gray-disabled: #ededf0;
$gray-dark: #555;
$gray-darkest: #020f14;
$black: #000;

// Blues
$blue: #3d90e3;
$dark-blue: #164e87;
$main-color: #0e5484;
$secondary-color: #73edff;

// Yellow
$yellow: yellow;
