<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../assets/styles/main.scss">
    <link rel="shortcut icon" href="../../favicon.png">
    <title>Carrie (Stephen King) - El Lector</title>
  </head>
<body class="main">
  <nav class="navbar">
    <a href="index.html" class="nav-logo">
      <img src="../assets/images/logo.png" alt="Logo de El Lector" />
    </a>
    <div class="navbar-color-selector">
      <div class="color-selector main"></div>
      <div class="color-selector green"></div>
      <div class="color-selector red"></div>
    </div>
  </nav>

  <main>
    <div class="breadcrumb">
      <a href="./index.html"><i class="fas fa-home"></i> Inicio</a>
      <a href="./categories-thriller.html">Thriller</a>
      <a href="./book-carrie.html" class="active">Carrie</a>
    </div>

    <section class="book">
      <h2><cite>Misery</cite>, de Stephen King</h2>

      <div class="technical-sheet">
        <h3>Ficha técnica</h3>
        <div class="book-cover-container">
          <img src="../assets/images/books/carrie.jpg" alt="Portada del libro Carrie" class="book-cover" />
        </div>

        <ul>
          <li>
            <p>Datos de la obra</p>
            <ul>
              <li><span class="bold">Título</span>: Carrie</li>
              <li><span class="bold">Autor</span>: Stephen King</li>
              <li><span class="bold">País</span>: Estados Unidos</li>
              <li><span class="bold">Género</span>: Thriller</li>
              <li><span class="bold">Fecha de publicación</span>: <time datetime="1974-04-05">5 de abril de 1974</time></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="book-info">
        <section>
          <h3>Sobre la obra</h3>
          <p>Una joven se enfadó cada vez más y un pueblo se retorció de dolor...</p>
          <p>Carrie no era consciente de que poseía un poder aterrador. Pero fue suficiente para transformar un pequeño y
            tranquilo pueblo de Nueva Inglaterra en un holocausto de destrucción más allá de la imaginación del hombre.
            Colegiala inocente o demonio vengativo, Carrie te hará temblar....</p>
          
        </section>

        <section class="author-info">
          <h3>Sobre Stephen King</h3>
          <img src="../assets/images/authors/stephen-king.jpg" alt="Foto de Aldous Huxley" class="curved-image" />

          <p>Stephen Edwin King nació en Portland, Maine, el <time datetime="1947-09-21">21 de septiembre de 1947</time>. 
            Es un escritor estadounidense de novelas de terror, ficción sobrenatural, misterio, ciencia ficción y
            literatura fantástica.</p>
          <p>Sus libros han vendido más de 350 millones de copias y en su mayoría han sido adaptados al cine y a la televisión.
            Ha publicado 61 novelas (siete de ellas, bajo el seudónimo Richard Bachman) y siete libros de no ficción. 
            Ha escrito, además, alrededor de doscientos relatos y novelas cortas, la mayoría de los cuales han sido recogidos
            en once colecciones.</p>
        </section>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer-first-row">
      <div class="footer-links">
        <a href="">Sobre nosotros</a>
        <a href="">Aviso legal</a>
        <a href="">Política de privacidad</a>
      </div>
      <p class="footer-copy">
        <i class="far fa-copyright"></i> 
        <time datetime="2020">2020</time> 
        Borja Delgado Martín
      </p>
    </div>
    <div class="footer-second-row">
      <p>Recursos externos</p>
      <ul class="footer-resources">
        <li><a href="https://www.freelogodesign.org/">Logo</a></li>
        <li><a href="https://openlibrary.org/books/OL27902091M/Carrie">Carrie</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Stephen_King">Stephen King</a></li>
      </ul>
    </div>
  </footer>

  <script src="../assets/scripts/index.js"></script>
</body>

</html>