<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/main.scss">
    <link rel="shortcut icon" href="../assets/images/logo.svg">
    <title>Moby Dick (Herman Melville) - El Lector</title>
  </head>
<body class="main">
  <nav class="navbar">
    <a href="index.html" class="main-title">
      <img class="main-title-logo" src="../assets/images/logo.svg" alt="Logo de El Lector" />
      <h1 class="main-title-text">El Lector</h1>
    </a>
    <div class="navbar-color-selector">
      <div class="color-selector main"></div>
      <div class="color-selector green"></div>
      <div class="color-selector red"></div>
    </div>
  </nav>

  <main>
    <div class="breadcrumb">
      <a href="./index.html"><span class="fas fa-home"></span> Inicio</a>
      <a href="./categories-juvenile.html">Juvenil</a>
      <a href="./book-moby-dick.html" class="active">Moby Dick</a>
    </div>

    <section class="book">
      <h2><cite>Moby Dick</cite>, de Herman Melville</h2>

      <div class="technical-sheet">
        <h3>Ficha técnica</h3>

        <div class="book-cover-container">
          <picture class="book-cover">
            <source media="(max-width: 767px)" srcset="../assets/images/books/moby-dick-cover-sm.jpg">
            <source media="(max-width: 1199px)" srcset="../assets/images/books/moby-dick-cover-md.jpg">
            <source media="(min-width: 1200px)" srcset="../assets/images/books/moby-dick-cover-lg.jpg">
            <img src="../assets/images/books/moby-dick-cover-lg.jpg" alt="Portada del libro Moby Dick">
          </picture>
        </div>

        <div class="book-info">
          <p>Datos de la obra</p>
          <ul>
            <li><span class="bold">Título</span>: Moby Dick</li>
            <li><span class="bold">Autor</span>: Herman Melville</li>
            <li><span class="bold">País</span>: Estados Unidos</li>
            <li><span class="bold">Género</span>: Juvenil</li>
            <li><span class="bold">Fecha de publicación</span>: <time datetime="1851-10-18">18 de octubre de 1851</time></li>
          </ul>
        </div>
      </div>

      <div class="book-summary">
        <section>
          <h3>Sobre la obra</h3>
          <p>"¡Comanda los cálices asesinos! ¡Bebed, arponeros! ¡Bebed y jurad, hombres, que el hombre de la proa de la ballena
            mortal... Muerte a Moby Dick!" Así que el Capitán Ahab obliga a su tripulación a cumplir su obsesión: la destrucción
            de la gran ballena blanca. Bajo su señorial pero maníaco mando, la misión comercial de Pequod se pervierte en una
            de venganza. Para Ahab, el monstruo que destruyó su cuerpo no es una criatura, sino el símbolo de "una cosa
            desconocida pero que sigue razonando".</p>
          <p>Incapaz de enfrentar desastres naturales, malos augurios, incluso la muerte,
            Ahab impulsa su barco hacia "los peligros sin nombre de la ballena". Las cartas clave de Melville a Nathaniel
            Hawthorne están impresas al final de este volumen.</p>
          <div class="book-svg">
            <object type="image/svg+xml" data="../assets/images/books/moby-dick_whale.svg">
              <img src="../assets/images/books/moby-dick_whale.svg" alt="Imagen de una ballena con animación" />
            </object>
          </div>
        </section>

        <section class="author-info">
          <h3>Sobre Herman Melville</h3>
          <img src="../assets/images/authors/herman-melville.jpg" alt="Foto de Herman Melville" class="curved-image" />
          <p>Fue un escritor, novelista, poeta y ensayista estadounidense, del período del Renacimiento estadounidense. Entre sus
            novelas más conocidas están Taipi (<time datetime="1846">1846</time>), basada en sus experiencias en la Polinesia y
            su obra maestra, la novela Moby Dick (<time datetime="1851">1851</time>) un clásico de la literatura universal. El
            mar y su mundo son fundamentales en la obra de Melville, como ya se aprecia en Mardi (<time datetime="1849">1849</time>)
            o Taipi (<time datetime="1846">1846</time>). Dichas obras se convirtieron en un éxito de público, aunque la crítica
            nunca acompañó su carrera.</p>
          <p>Herman Melville murió en <time datetime="1891">1891</time> y no fue hasta la década de <time datetime="1920">1920</time>
            que la crítica recuperó su obra para situarla como una de las más influyentes de todo el siglo XIX.</p>
        </section>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer-left">
      <div class="footer-title">
        <a href="index.html" class="main-title">
          <img class="main-title-logo" src="../assets/images/logo.svg" alt="Logo de El Lector" />
          <span class="main-title-text">El Lector</span>
        </a>
      </div>
      <div class="footer-links">
        <a href="">Sobre nosotros</a>
        <a href="">Aviso legal</a>
        <a href="">Política de privacidad</a>
      </div>
    </div>
    <div class="footer-center">
      <img class="footer-image" src="../assets/images/library.jpg" alt="Imagen de una librería" />
    </div>
    <div class="footer-right">
      <div class="footer-resources">
        <p>Recursos externos</p>
        <ul class="footer-resources-list">
          <li><a href="https://www.freelogodesign.org/">Logo</a></li>
          <li><a href="https://search.creativecommons.org/photos/04d57e3f-6d36-49f9-8e1e-7de9d72c202e">Imagen de librería (footer)</a></li>
          <li><a href="https://openlibrary.org/works/OL102749W/Moby_Dick">Moby Dick</a></li>
          <li><a href="http://difusionyextension.upnvirtual.edu.mx/index.php?option=com_content&view=article&id=475&catid=30&Itemid=420">Herman Melville</a></li>
          <li><a href="https://freesvg.org/whale">Imagen de ballena</a></li>
        </ul>
      </div>
      <p class="footer-copy">
        <span class="far fa-copyright"></span> 
        <time datetime="2020">2020</time> 
        Borja Delgado Martín
      </p>
    </div>
  </footer>

  <script src="../assets/scripts/index.js"></script>
</body>

</html>