<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/main.scss">
    <link rel="shortcut icon" href="../assets/images/logo.svg">
    <title>Categoría de thriller - El Lector</title>
  </head>
  <body class="main">
    <nav class="navbar">
      <a href="index.html" class="main-title">
        <img class="main-title-logo" src="../assets/images/logo.svg" alt="Logo de El Lector" />
        <h1 class="main-title-text">El Lector</h1>
      </a>
      <div class="navbar-color-selector">
        <div class="color-selector main"></div>
        <div class="color-selector green"></div>
        <div class="color-selector red"></div>
      </div>
    </nav>

    <main>
      <div class="breadcrumb">
        <a href="./index.html"><span class="fas fa-home"></span> Inicio</a>
        <a href="./categories-thriller.html" class="active">Thriller</a>
      </div>

      <section class="index-text-section">
        <h2>Categoría de Thriller</h2>
        <p>El thriller es un género literario estrechamente emparentado con el de misterio, pero con más acción, donde
          predomina el suspenso, y el temor de ser víctima de un asesinato por parte del protagonista.</p>
        <p>Este género se caracteriza por un ritmo rápido, acción frecuente y héroes ingeniosos que deben frustrar
          planes de más poderosos y mejor equipados villanos. Se utilizan recursos como las pistas falsas y los
          cliffhangers.</p>
      </section>
  
      <section class="index-categories-section">
        <h2>Libros relacionados</h2>
        <ul id="categoriesList" class="categories-list">
          <li>
            <a href="./book-misery.html" class="card">
              <img src="../assets/images/books/misery-cover-sm.jpg" alt="Portada del libro Misery" class="card-img" />
              <p class="card-title">Misery</p>
              <p class="card-subtitle">Stephen King</p>
            </a>
          </li>
          <li>
            <a href="./book-carrie.html" class="card">
              <img src="../assets/images/books/carrie-cover-sm.jpg" alt="Portada del libro Carrie" class="card-img" />
              <p class="card-title">Carrie</p>
              <p class="card-subtitle">Stephen King</p>
            </a>
          </li>
        </ul>
      </section>
    </main>

    <footer class="footer">
      <div class="footer-left">
        <div class="footer-title">
          <a href="index.html" class="main-title">
            <img class="main-title-logo" src="../assets/images/logo.svg" alt="Logo de El Lector" />
            <span class="main-title-text">El Lector</span>
          </a>
        </div>
        <div class="footer-links">
          <a href="">Sobre nosotros</a>
          <a href="">Aviso legal</a>
          <a href="">Política de privacidad</a>
        </div>
      </div>
      <div class="footer-center">
        <img class="footer-image" src="../assets/images/library.jpg" alt="Imagen de una librería" />
      </div>
      <div class="footer-right">
        <div class="footer-resources">
          <p>Recursos externos</p>
          <ul class="footer-resources-list">
            <li><a href="https://www.freelogodesign.org/">Logo</a></li>
            <li><a href="https://search.creativecommons.org/photos/04d57e3f-6d36-49f9-8e1e-7de9d72c202e">Imagen de librería (footer)</a></li>
            <li><a href="https://openlibrary.org/books/OL24214124M/Misery">Misery</a></li>
            <li><a href="https://openlibrary.org/books/OL27902091M/Carrie">Carrie</a></li>
          </ul>
        </div>
        <p class="footer-copy">
          <span class="far fa-copyright"></span> 
          <time datetime="2020">2020</time> 
          Borja Delgado Martín
        </p>
      </div>
    </footer>

    <script src="../assets/scripts/index.js"></script>
  </body>
</html>
