<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../assets/styles/main.scss">
    <link rel="shortcut icon" href="../../favicon.png">
    <title>Inicio - El Lector</title>
  </head>
  <body class="main">
    <nav class="navbar">
      <a href="index.html" class="nav-logo">
        <img src="../assets/images/logo.png" alt="Logo de El Lector" />
      </a>
      <div class="navbar-color-selector">
        <div class="color-selector main"></div>
        <div class="color-selector green"></div>
        <div class="color-selector red"></div>
      </div>
    </nav>

    <main>
      <div class="breadcrumb">
        <a href="./index.html" class="active"><i class="fas fa-home"></i> Inicio</a>
      </div>

      <section class="index-text-section">
        <h2>¿Qué es El Lector?</h2>
        <p>El Lector es un club de lectura virtual de diversos géneros y en diferentes lenguas, para los amantes de
          la lectura que quieran compartir reflexiones y debatir sobre los libros que les interesan sin necesidad de
          acudir a un espacio físico.</p>
      </section>
  
      <section class="index-categories-section">
        <h2>Categorías</h2>
        <ul id="categoriesList" class="categories-list">
          <li>
            <a href="./categories-thriller.html">
              <img src="../assets/images/categories/thriller.png" alt="Logo de categoría de thriller" />
            </a>
          </li>
          <li>
            <a href="./categories-juvenile.html">
              <img src="../assets/images/categories/juvenil.png" alt="Logo de categoría juvenil" />
            </a>
          </li>
        </ul>
      </section>
    </main>

    <footer class="footer">
      <div class="footer-first-row">
        <div class="footer-links">
          <a href="">Sobre nosotros</a>
          <a href="">Aviso legal</a>
          <a href="">Política de privacidad</a>
        </div>
        <p class="footer-copy">
          <i class="far fa-copyright"></i> 
          <time datetime="2020">2020</time> 
          Borja Delgado Martín
        </p>
      </div>
      <div class="footer-second-row">
        <p>Recursos externos</p>
        <ul class="footer-resources">
          <li><a href="https://www.freelogodesign.org/">Logo y categorías</a></li>
        </ul>
      </div>
    </footer>

    <script src="../assets/scripts/index.js"></script>
  </body>
</html>
