@import '../../variables/colors';
@import '../../variables/breakpoints';
@import '../../functions/functions';

.technical-sheet {
  padding: 0 1rem;
  background-color: $dark-bg;
  border-bottom: 1px solid $main-border;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 $black;

  & ul {
    padding-left: 1rem;
    list-style: none;
  }

  & li {
    padding: .2rem 0;
  }

  & > div > p {
    width: 100%;
    font-weight: 700;
    border-bottom: 1px solid black;
  }

  /*Colores de la aplicación*/
  .green & {
    background-color: $green-dark-bg;
    border-bottom: 1px solid $green-border;
  }
  .red & {
    background-color: $red-dark-bg;
    border-bottom: 1px solid $red-border;
  }
}

/*Versión de escritorio*/
@media screen and (min-width: $xl) {
  .technical-sheet {
    flex: 1 0 30%;
    box-sizing: border-box;
    padding: 0 2rem;
  }

  .book-cover {
    max-width: 250px;

    &-container {
      display: flex;
      justify-content: center;
    }

    & img {
      max-width: 100%;
    }
  }
}

/*Versión de tablet*/
@media screen and (min-width: $md) and (max-width: low-breakpoint($xl)) {
  .technical-sheet {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    h3 {
      flex-basis: 100%;
      text-align: center;
    }

    .book-cover {
      flex-basis: 50%;
    }

    .book-info {
      flex-basis: 50%;
      box-sizing: border-box;
      padding: 0 1rem;
    }
  }
}

.book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-cover {
    max-width: 100%;
    text-align: center;

    &-container {
      display: flex;
      justify-content: center;
    }
  }

  &-summary p {
    width: 100%;
    margin: .5rem 0;
    line-height: 1.8;
  }

  &-svg {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-height: 160px;
    padding: 1rem;
  }
}

/*Versión de escritorio*/
@media screen and (min-width: $xl) {
  .book {
    display: flex;
    flex-wrap: wrap;

    & h2 {
      flex: 0 0 100%;
      text-align: left;
    }

    &-summary {
      flex: 1 0 70%;
      box-sizing: border-box;
      padding-left: 4rem;

      & p {
        text-align: justify;
      }
    }
  }
}

.author-info {
  display: block;

  & img {
    float: left;
    max-width: 200px;
    margin-right: 2rem;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
  }
}
